img {
    height: 30vh;
    width: 40vh;
    margin-top: 3vh;

}

.card {
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    overflow: auto;
    background-color: white;
}

.card > h1 {
    font-size: 36px;
    font-weight: 30px;
    color: black;
    margin-top: 10px;
    font-family: 'Staatliches';
}

.card > h2 {
    color: #9db3c0;
}

.card > h3 {
    color: black;
    margin-bottom: 20px;
    margin-left: 3vh;
    margin-right: 3vh;
}

p {
    color: white;
}

a {
  color: black;
}