.label {
    color: black;
    padding: 0px;
    margin-top: 10px;
    font-weight: 36px;
}

.date_end {
    margin-bottom: 10px;
}

.details {
    margin-right: 20vh;
    margin-left: 20vh;
}

.details > h1 {
    font-size: 56px;
}

.details > p {
    color: black;
}

.display {
    background-color: white;
    grid-template-columns: 1fr 1fr;
    display: grid;
    height: 110vh;
}

.details > h3 {
    color: black;
    grid-column: 1;
    grid-row: 1;
}

.text {
    margin-bottom: 10px;
}

.details > h1 {
    font-size: 36px;
    font-weight: 30px;
    color: black;
    margin-top: 10px;
    font-family: 'Staatliches';
}

.image {
    height: 60vh;
    width: 80vh;
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 40px;
}

.ViewEvent {
    background-color: #1e1e20;
    height: 200vh;
    padding: 45px;
    z-index: -1;
}

.role-item {
    font-size: 24px;
}

.register input {
    background-color: white;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 3vh;
    width: 350px;
}

label {
    font-size: 36px;
    font-weight: 30px;
    color: black;
    margin-top: 30px;
    font-family: 'Staatliches';
}

.details > h1 {
    font-size: 72px;
    margin-bottom: 0px;
    margin-top: 40px;
}

.join-btn {
    padding: 10vh;
}

.subtext {
    color: grey;
    font-color: grey;
}